<!DOCTYPE html>
<html>
<head>
    <title>My Movielist</title>

    <script src="../../3rd/vue.js"></script>
</head>
<body>
    <div id="app">
        <span v-if="display">
            {{ message }}
        </span>

        <ul>
            <li v-for="movie in movies" v-bind:key="movie" v-bind:title="message">{{movie}}</li>
        </ul>

        <p><button v-on:click="newmovie1">Add</button></p>

        <p><input type="text" v-model="message" /></p>

        <p><input type="text" v-model="movie_to_add" /> <button v-on:click="newmovie2">Add</button></p>

        <ul>
            <movie-item v-for="movie in movies" v-bind:key="movie" v-bind:movie="movie"></movie-item>
        </ul>

        <p>{{firstletter}}</p>
    </div>

    <script type="text/javascript">
        Vue.component('movie-item', {
            props: [ "movie" ],
            template: '<li>{{movie}}</li>',
            mounted: function() {
                console.log("Mounted ", this.movie)
            }
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue 6!',
                display: true,
                movie_to_add: "",
                movies : [
                    "L'étrange noël de M. Jack", "Interstellar"
                ]
            },
            methods: {
                newmovie1: function() {
                    this.movies.push("New movie")
                },
                newmovie2: function() {
                    this.movies.push(this.movie_to_add)
                    this.movie_to_add = ""
                }
            },
            created: function() {
                console.log("Created")
            },
            computed: {
                firstletter: function() {
                    return this.message[0]
                } 
            },
            watch: {
                movies: function() {
                    alert("New movie")
                }
            }
        })
    </script>
</body>
</html>