<!DOCTYPE html>
<html>
<head>
    <title>My Movielist</title>

    <script src="../../3rd/vue.js"></script>

    <style>
        ul > li {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="app">
        <span v-if="display">
            {{ message }}
        </span>
        <p>First letter : {{firstletter}}</p>

        <p><input type="text" v-model="message" /></p>    
        <p><button v-on:click="newmovie1">Add "New movie"</button></p>    

        <hr>

        <p>Movie number : {{movies.length}}</p>
        <p>New movie<br />
            Title : <input type="text" v-model="movie_to_add.title" /><br />
            Year : <input type="text" v-model="movie_to_add.year" /><br />
            Synopsys : <textarea v-model="movie_to_add.synopsys"></textarea><br />
            <button v-on:click="newmovie2">Add</button></p>

        Search : <input type="text" v-model="search" />
        <ul>
            <li v-for="(movie, index) in movies_search" v-bind:key="movie.title" v-bind:title="message" @click="movie_to_display=movie">
                <b>{{movie.title}} ({{movie.year}})</b><br />
                <span v-if="movie_to_display === movie">
                    {{movie.synopsys}}<br />
                    <button @click="edit(movie)">Edit</button> <button @click="remove(index)">Remove</button>
                </span>
                <br /><br />
            </li>
        </ul>

        <p v-if="movie_to_edit">New movie<br />
            Title : <input type="text" v-model="movie_to_edit.title" /><br />
            Year : <input type="text" v-model="movie_to_edit.year" /><br />
            Synopsys : <textarea v-model="movie_to_edit.synopsys"></textarea><br />
            <button v-on:click="save">Save</button></p>

        <h3>Components</h3>
        <ul>
            <movie-item v-for="movie in movies" v-bind:key="movie.title" v-bind:movie="movie"></movie-item>
        </ul>
    </div>

    <script type="text/javascript">
        Vue.component('movie-item', {
            props: [ "movie" ],
            template: '<li>{{movie.title}}</li>',
            mounted: function() {
                console.log("Mounted ", this.movie)
            }
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                display: true,
                movie_to_add: {},
                movie_to_edit: undefined,
                movie_to_display: undefined,
                search: "",
                movies : [
                    {
                        title: "L'étrange noël de M. Jack",
                        year: 1994,
                        synopsys: "Jack Skellington, un épouvantail squelettique surnommé « le Roi des citrouilles » (Pumpkin King en version originale), vit dans la ville d'Halloween. En tant que maître de l'épouvante, Jack occupe ses journées à préparer la prochaine fête d'Halloween."
                    }, 
                    {
                        title: "Interstellar",
                        year: 2014,
                        synopsys: "Alors que la Terre se meurt, une équipe d'astronautes franchit un trou de ver apparu près de Saturne conduisant à une autre galaxie, cela dans le but d'explorer un nouveau système stellaire et l'espoir de trouver une nouvelle planète habitable par l'humanité afin de la sauver."
                    }
                ]
            },
            methods: {
                newmovie1: function() {
                    this.movies.push({title:"New movie"})
                },
                newmovie2: function() {
                    this.movies.push(this.movie_to_add)
                    this.movie_to_add = {}
                },

                edit: function(movie) {
                    this.movie_to_edit = movie
                },
                save: function() {
                    this.movie_to_edit = null
                },
                remove: function(index) {
                    this.movies.splice(index, 1)
                }
            },
            created: function() {
                console.log("Created")
            },
            computed: {
                firstletter: function() {
                    return this.message[0]
                },
                movies_search: function() {
                    return this.movies.filter(m => m.title.indexOf(this.search)!=-1);
                }
            }
        })
    </script>
</body>
</html>